/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  padding: 0 20px;
  background: aliceblue;
}

.party{
  margin: 2em;
}
